<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta charset="UTF-8">
  <title>TEDxVITChennai</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <meta name="description" content="TEDx VITChennai Official Website">
    <link rel="preconnect" href="https://fonts.gstatic.com">
  	<link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,400;1,500;1,600&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <a target="_blank" href="https://chat.whatsapp.com/KLJnw47MEzII9OCfBeZ2rf" class="whatsapp-button"><i
            class="fa fa-whatsapp"></i></a>
  <link rel="stylesheet" media="screen" href="/css/blog_style2.css">
  <link rel="stylesheet" media="screen" href="/css/comment_box.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
</head>

<style>
    body {
        background-color: #F2F2F2;
    }
</style>

<body>
  <div id="pageWrapper">
    <div id="topBar1">
      <div id="logo">
        <img src="/media/logo.PNG" alt="TEDxVITChennai" align="left" onclick="window.location.href='/';">
      </div>
      <div id="hamburger" onclick="openNav()">
        <svg viewBox="0 0 100 80" width="40" height="40" fill="white">
          <rect width="100" height="15" rx="8"></rect>
          <rect y="30" width="100" height="15" rx="8"></rect>
          <rect y="60" width="100" height="15" rx="8"></rect>
        </svg>
      </div>
    </div>

    <div id="archivePage" class="page">
        <div class="pageContainer">
            <h1 style="color: red; font-weight:700; font-family: Pacifico, cursive; font-size: 7vw; text-align: center;">CreaTED</h1>
            <br>
            <p style="font-size: 3vw; text-align: center; font-family: 'Josefin Sans', sans-serif;">Presents<br>
                <span style="border-bottom: 5px solid rgb(201, 9, 9);"><%= post.title %></span>
                <br>
                <span class="down-arrow">
                  <a href="/blogs/<%=post.id%>/unliked"><i class="glyphicon glyphicon-arrow-down"></i></a>
                </span>
                <span style="font-size: 33px;"><%= post.upvotes %></span>
                <span class="up-arrow">
                  <a href="/blogs/<%=post.id%>/liked"><i class="glyphicon glyphicon-arrow-up"></i></a>
                </span>
                <b>|</b>
                <span style="font-size: 30px;">
                  <i class="glyphicon glyphicon-comment"></i>
                </span>
                <span style="font-size: 33px;"><%= comments.length %></span>
                <br>
            </p>
            <div id="blog_post">
                <%= post.body %>
            </div>

            <div class="pageHeading" style="color: black; font-weight:700; font-size: 40px;">Comments</div>
            
            <div class="row">
            <form method="POST" action="/comment_post/<%=post.id%>">
              <div class="col-md-3">
                  <br>
                  <div class="input-group">
                    <span class="input-group-btn">
                      <p class="btn btn-default">Name</p>
                    </span>
                    <input type="text" class="form-control" name="author" placeholder="Your Name" required>
                  </div>
                </div>
                <br>
                <div class="col-md-3">
                  <input type="radio" id="male" name="avatar" value="/media/male.jpg" required>
                  <label for="male"><img src="/media/male.jpg" width="100vw"></label>
                  <input type="radio" id="female" name="avatar" value="/media/female.jpg" required>
                  <label for="female"><img src="/media/female.jpg" width="100vw"></label>
                </div>
                <br>
                <div class="col-md-6">
                  <div class="input-group">
                    <input type="text" class="form-control" name="text" placeholder="Comment" required>
                    <span class="input-group-btn">
                      <button  class="btn btn-default" type="submit">Post</button>
                    </span>
                  </div>
                </div>
              </form>
            </div>
            

            <div class="row">
                <div class="comments-container">
                    
                    <% if(comments.length==0){ %>
                      <h1 style="font-family: 'Josefin Sans', sans-serif;">No Comments yet</h1>
                    <% }else { %>
                      <ul id="comments-list" class="comments-list">
                        <% comments.forEach((comment)=>{ %>
                        <li>
                            <div class="comment-main-level">
                                <!-- Avatar -->
                                <div class="comment-avatar"><img src="<%= comment.avatar %>" alt=""></div>
                                <!-- Content -->
                                <div class="comment-box">
                                    <div class="comment-head">
                                        <h6 class="comment-name"><%=comment.author%></h6>
                                        <div class="votes">
                                          <a href="/comment_post/unlike/<%=post.id%>/<%=comment.id%>" style="color: red;"><i class="glyphicon glyphicon-arrow-down"></i></a>
                                        </div>
                                        <div class="votes">
                                          <p><%= comment.upvotes %></p>
                                        </div>
                                        <div class="votes">
                                          <a href="/comment_post/like/<%=post.id%>/<%=comment.id%>" style="color: green;"><i class="glyphicon glyphicon-arrow-up"></i></a>
                                        </div>
                                    </div>
                                    <div class="comment-content">
                                        <%= comment.text %>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <% }) %>
                        <% } %>
                      </ul>
                    
                </div>
              </div>
            
                    

        </div>
        
    </div>

<!----------------Footer page------------->
        <div id="footer" class="page" style="background-color: black;">
          <div class="pageContainer">
            <div class="footerContainer1">
              <div>
                <div class="pageHeading" style="color:white">Quick Links</div>
                <div class="pageContent">
                  <ul class="quickLinksList">
                    <li><a href="/">&bull; Home</a></li>
                    <li><a href="/editions">&bull; Editions</a></li>
                    <li><a href="/speakers">&bull; Speakers</a></li>
                    <li><a href="/#sponsorsPage">&bull; Sponsors</a></li>
                    <li><a href="/#aboutPage">&bull; About</a></li>
                    <li><a href="/#contactPage">&bull; Connect with us</a></li>
                  </ul>
                </div>
              </div>
                <div>
                  <div class="pageHeading" style="color:white"><h3>Follow <span style="color: #E9280B; font-weight: 900; font-size:26px;">TEDx</span>VITChennai on</h3></div>
                  <div class="pageContent">
                    <div class="footerContact">
              <a href="https://www.facebook.com/tedxvitchennai/" target="_blank" class="fa fa-facebook"></a>
              <a href="https://twitter.com/tedx_vitchennai?lang=en" target="_blank" class="fa fa-twitter"></a><br>
              <a href="https://www.instagram.com/tedxvitchennai/?hl=en" target="_blank" class="fa fa-instagram"></a>
              <a href="https://www.linkedin.com/company/tedxvitchennai/" target="_blank" class="fa fa-linkedin"></a>
                  </div>
                  <br><br>
                        <p style="font-family: Catamaran, sans-serif; font-size:20px; font-weight: 1000;">
                          Want to be involved with TEDx but don't know HOW?<br>
                          Join our <span style="color:#25D366;">WhatsApp</span> group where we'll have discussions on all things about <span style="color:#E9280B;">TED</span>!!!<br>
                          <!-- no wait Click on the whatsapp icon that's waiting for you !!&#128512; -->
                        </p>
                        <div class="footerContact">
                          <a href="https://chat.whatsapp.com/KLJnw47MEzII9OCfBeZ2rf" target="_blank" class="fa fa-whatsapp"></a>
                        </div>
                </div>
              </div>
            </div>
              <hr>
              <div class="footerContainer2">
                <div class="footerLogo" onclick="window.location.href='/';"><img src="/media/logo.PNG" alt="TEDxVITChennai" align="left"></div>
              </div>
            </div>
          </div>
        </div>
    <!-- Page Wrapper Ends -->

    <nav>
        <div id="closeButton" onclick="closeNav()">
            <?xml version="1.0" encoding="UTF-8"?>
            <svg enable-background="new 0 0 512.001 512.001" version="1.1" viewBox="0 0 512 512" xml:space="preserve"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="m284.29 256 221.86-221.86c7.811-7.811 7.811-20.475 0-28.285s-20.475-7.811-28.285 0l-221.86 221.86-221.86-221.86c-7.811-7.811-20.475-7.811-28.285 0s-7.811 20.475 0 28.285l221.86 221.86-221.86 221.86c-7.811 7.811-7.811 20.475 0 28.285 3.905 3.905 9.024 5.857 14.143 5.857s10.237-1.952 14.143-5.857l221.86-221.86 221.86 221.86c3.905 3.905 9.024 5.857 14.143 5.857s10.237-1.952 14.143-5.857c7.811-7.811 7.811-20.475 0-28.285l-221.86-221.86z" />
            </svg>
        </div>
        <div id="navInsideWrapper">
            <div class="navElement" onclick="closeNav(); window.location.href='/#pageWrapper';">Home</div>
            <div class="navElement" onclick="closeNav(); window.location.href='/tedcircles';">Ted Circles</div>
            <!-- <div class="navElement" onclick="closeNav(); window.location.href='/recruitments';">Recruitments</div> -->
            <div class="navElement" onclick="closeNav(); window.location.href='/event2022';">TedXVITChennai 2022</div>
            <div class="navElement" onclick="closeNav(); window.location.href='/blogs';">Blogs</div>
            <div class="navElement" onclick="closeNav(); window.location.href='/editions';">Editions</div>
            <div class="navElement" onclick="closeNav(); window.location.href='/speakers';">Speakers</div>
            <div class="navElement" onclick="closeNav(); window.location.href='/#sponsorsPage';">Sponsors</div>
            <div class="navElement" onclick="closeNav(); window.location.href='/#aboutPage';">About</div>
            <div class="navElement" onclick="closeNav(); window.location.href='/#contactPage';">Connect with us</div>
        </div>
    </nav>
  <script src="/js/app.js"></script>
  <script src="/js/index.js"></script>
  <script>
    document.getElementById('blog_post').innerHTML=document.getElementById('blog_post').textContent;
</script>
</body>

</html>
