<html>

<head>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" media="screen" href="/css/card.css">
</head>

<body style="background-color: #F2F2F2;">
    <%- include("partials/navbar"); %>
    <div class="container">
        <br>
        <div class="row" style="display:flex;flex-wrap:wrap">
            <%posts.forEach(function(post){%>
                <div class="col-md-4 col-xs-6">
                    <div class="card">
                        <img src="<%= post.url %>" style="width:100%">
                        <h1 class="title">
                            <%= post.title %>
                        </h1>
                        <p class="name">
                            <%= post.author %>
                        </p>
                        <div class="edit">
                            <p onclick="location.href='/reg_user/edit_blog/<%=post.id%>';">Edit</p>
                        </div>
                        <br>
                        <div class="delete">
                            <p onclick="location.href='/reg_user/delete_blog/<%=post.id%>';">Delete</p>
                        </div>
                    </div>
                </div>
                <% }) %>
        </div>
    </div>
    <%- include("partials/navbar_script"); %>
</body>

</html>